    body {
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin: 0;
        font-size: 18px;
    }
    
    .master-container {
        display: flex;
        flex-direction: column;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        background-color: #1f2937;
        padding: 15px 400px;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        gap: 25px;
        font-size: 18px;
        font-weight: 400;
        color: #e5e7eb;
    }
    
    .header-logo {
        font-size: 24px;
        color: #F9FAF8;
        font-weight: 700;
    }
    
    #section2-header {
        margin: 50px;
        font-weight: 800;
        font-size: 36px;
        color: #1f2937;
    }
    
    .section1-container {
        display: flex;
        background-color: #1f2937;
        padding: 30px 400px 150px;
        justify-content: center;
        align-items: center;
    }
    
    .section2-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 100px;
    }
    
    .images-container {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 175px;
    }
    
    .image-container img {
        width: 175px;
        border-radius: 8px;
        border: 2px solid #3882F6;
        margin-bottom: 5px;
    }
    
    .image-container p {
        font-weight: 400;
        text-align: center;
        margin: 0;
    }
    
    .section3-container {
        background-color: #e5e7eb;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 150px 530px;
    }
    
    .section4-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
    }
    
    .banner-container {
        background-color: #3882F6;
        padding: 35px 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }
    
    .banner-container button {
        border: 2px solid white;
        margin-left: 250px;
        font-size: 18px;
    }
    
    .banner-container h3,
    .banner-container h4 {
        margin: 0;
        color: #F9FAF8
    }
    
    .banner-container h3 {
        font-size: 24px;
        font-weight: 700;
    }
    
    .banner-container h4 {
        font-size: 18px;
        font-weight: 300;
    }
    
    #section3-quote {
        font-size: 36px;
        font-style: italic;
        font-weight: 300;
        color: #1f2937;
        margin: 0;
    }
    
    #section3-author {
        align-self: flex-end;
        margin: 0;
        font-weight: 700;
        font-size: 24px;
    }
    
    #hero-text {
        font-weight: 800;
        font-size: 48px;
        color: #F9FAF8;
        margin: 0;
    }
    
    #hero-text-subtitle {
        font-size: 18px;
        color: #e5e7eb;
        font-weight: 400;
        margin: 0;
        margin-bottom: 15px;
    }
    
    #header-image {
        width: 550px;
        padding-left: 150px;
        height: 250px;
        flex-shrink: 0;
    }
    
    button {
        padding: 5px 27px;
        background-color: #3882F6;
        border-radius: 8px;
        border: 0px;
        color: #F9FAF8;
        font-weight: bold;
    }